body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
}
header {
    background-color: #080bda;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    color: #ece6e6;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

h2 {
    display: flex;
    justify-content: center;
    background-color: #3315e0;
    color: rgb(241, 245, 16);
    padding:  15px 15px;
}

.parallax {
    background-image: url('https://i.pinimg.com/originals/90/3c/e8/903ce82d065d12a760eeafe2aec9935a.jpg'); /* Adicione a imagem de fundo */
    height: 500px; /* Defina a altura da seção */
    background-attachment: fixed; /* Isso cria o efeito parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}


.pokedex-carousel-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.pokedex-carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.pokedex-carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.pokedex-carousel-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.pokedex-carousel-item h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.pokedex-carousel-item p {
    font-size: 1em;
    color: #555;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 50%;
    z-index: 1;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


